.container {
  position: relative;
  color: #fff;
  margin: 0 auto;
}

.shapesWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.shapeWrapper {
  width: 150px;
  height: 200px;
}

.youPick,
.housePick {
  display: block;
  margin-top: 25px;
  letter-spacing: 2px;
  font-size: 15px;
}

.round {
  background-color: hsl(223,48%,17%);
  margin: 20px auto 0;
  height: 110px;
  width: 110px;
  border-radius: 100%;
  z-index: 0;
}

.resultWrapper {
  margin-top: 43px;
}

.result {
  opacity: 0;
  font-size: 57px;
  text-transform: uppercase;
}

.btn {
  opacity: 0;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 2px;
  margin-top: 14px;
  color: var(--dark-text);
  width: 220px;
  height: 50px;
}

.visible {
  opacity: 1;
}

@media screen and (min-width: 1366px) {
.container {
  display: flex;
}

  .round {
    width: 220px;
    height: 220px;
    top: 55px;
    right: -128px;
  }

  .youPick,
  .housePick {
    top: -73px;
    font-size: 22px;
    letter-spacing: 4px;
  }

  .youPick {
    left: -104px;
  }
  .housePick {
    right: -135px;
  }
}
