.container {
  position: relative;
  width: 315px;
  margin: 147px auto;
  color: #fff;
  padding: 200px 0 0;
}

.round {
  position: absolute;
  background-color: hsl(220, 46%, 19%);
  top: -40px;
  right: 0;
  height: 110px;
  width: 110px;
  border-radius: 100%;
  z-index: 0;
}

.youPick {
  position: absolute;
  left: 30px;
  top: 100px;
}
.housePick {
  position: absolute;
  right: 0;
  top: 100px;
}

.result {
  opacity: 0;
  font-size: 35px;
  text-transform: uppercase;
}

.btn {
  opacity: 0;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-top: 20px;
  color: var(--dark-text);
  width: 220px;
  height: 50px;
}

.visible {
  opacity: 1;
}

@media screen and (min-width: 1366px) {
  .round {
    width: 220px;
    height: 220px;
  }
}