.container {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 147px auto 0;
  background: url("../../data/images/bg-pentagon.svg") center center/cover
    no-repeat;
}

@media screen and (min-width: 1366px) {
  .container {
    height: 310px;
    width: 310px;
  }
}