.shape {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 95px;
  width: 95px;
  border: double 10px transparent;
  border-radius: 100%;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transform-style: preserve-3d;
  z-index: 1;
}

.scissors {
  top: -55px;
  left: 52px;
  background-image: linear-gradient(hsl(290, 12%, 90%), hsl(290, 12%, 90%)),
    linear-gradient(var(--scissors-gradient));
  box-shadow: 0 4px inset hsl(227, 24%, 77%), 0 4px hsl(28, 76%, 43%);
}
.paper {
  top: 29px;
  right: -51px;
  background-image: linear-gradient(hsl(290, 12%, 90%), hsl(290, 12%, 90%)),
    linear-gradient(var(--paper-gradient));
  box-shadow: 0 4px inset hsl(227, 24%, 77%), 0 4px hsl(230, 66%, 47%);
}
.rock {
  top: 151px;
  right: -10px;
  background-image: linear-gradient(hsl(290, 12%, 90%), hsl(290, 12%, 90%)),
    linear-gradient(var(--rock-gradient));
  box-shadow: 0 4px inset hsl(227, 24%, 77%), 0 4px hsl(348, 74%, 35%);
}
.lizard {
  position: absolute;
  top: 151px;
  left: -13px;
  background-image: linear-gradient(hsl(290, 12%, 90%), hsl(290, 12%, 90%)),
    linear-gradient(var(--lizard-gradient));
  box-shadow: 0 4px inset hsl(227, 24%, 77%), 0 4px hsl(261, 50%, 44%);
}

.spock {
  top: 29px;
  left: -55px;
  background-image: linear-gradient(hsl(290, 12%, 90%), hsl(290, 12%, 90%)),
    linear-gradient(var(--spock-gradient));
  box-shadow: 0 4px inset hsl(227, 24%, 77%), 0 4px hsl(194, 60%, 43%);
}

.icon {
  display: block;
  height: 50%;
}

.picked {
  top: -50px;
  left: 0;
  width: 130px;
  height: 130px;
  transform-style: preserve-3d;
}

.random {
  opacity: 0;
  left: unset;
  right: 0;
}

.visible {
  opacity: 1;
}
