.App {
  position: relative;
  text-align: center;
  background-image: linear-gradient(var(--radial-gradient));
  width: 100%;
  padding: 30px;
  overflow: hidden;
}

.container  {
  min-height: 768px;
}

.btn {
  height: 40px;
  width: 130px;
  margin-top: 175px;
  border: 2px solid hsl(225, 17%, 59%);
  border-radius: 7px;
  background-color: hsl(230, 44%, 18%);
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 17px;
}

@media screen and (min-width: 1366px) {
  .App {
    padding: 47px 30px 13px;
  }

  .btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
    margin: 0;
  }
}
