.App {
  position: relative;
  text-align: center;
  background: linear-gradient(var(--radial-gradient)) center center/cover no-repeat;
  width: 100%;
  padding: 30px 20px;
  overflow: hidden;
  height: 100vh;
}

.container {
  position: relative;
  height: 100%;
}

.btn {
  height: 40px;
  width: 130px;
  position: absolute;
  bottom: 56px;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid hsl(225, 17%, 59%);
  border-radius: 7px;
  background-color: hsl(230, 44%, 18%);
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
}

@media screen and (min-width: 1366px) {
  .App {
    padding: 47px 30px 13px;
    /* min-height: 100vh; */
  }

  .btn {
    position: absolute;
    right: -33px;
    left: unset;
    bottom: 15px;
    letter-spacing: 2px;
    margin: 0;
    cursor: pointer;
  }
}

@media screen and (max-height: 750px) {
  .App {
    height: 750px;
  }
}